.containerBody {
    left: 17rem;
    padding-left: 17rem;
    padding-top: 2rem;
    background-color: #f5f7fb;
    height: 200vh;
    /* display: flex; */
  }
.bg2 {
    width: 16rem;
    position: relative;
    height: 64rem;
    display: none;
  }
  .calendar-workspace-frame-child {
    height: 1.69rem;
    width: 1.88rem;
    position: relative;
    z-index: 1;
  }
  .logo-design1 {
    position: relative;
    text-transform: capitalize;
    z-index: 1;
  }
  .calendar-workspace-frame,
  .frame-vuesaxboldelement1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .calendar-workspace-frame {
    align-items: center;
    gap: var(--gap-6xs);
  }
  .frame-vuesaxboldelement1 {
    align-items: flex-start;
    padding: 0 var(--padding-25xl);
  }
  .vuesaxboldelement-3-icon1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    min-height: 1.5rem;
  }
  .dashboard3,
  .rectangle-frame {
    display: flex;
    align-items: center;
  }
  .dashboard3 {
    height: 1.31rem;
    position: relative;
  }
  .rectangle-frame {
    border-radius: var(--br-5xs);
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-36xl) var(--padding-5xs)
      var(--padding-base);
    gap: var(--gap-base);
  }
  .iconcalendar2 {
    height: 1.5rem;
    width: 1.5rem;
    min-height: 1.5rem;
  }
  .iconcalendar2,
  .workspace1 {
    position: relative;
  }
  .rectangle-frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-base);
    gap: var(--gap-base);
  }
  .iconlylight-outline2-user1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    min-height: 1.5rem;
  }
  .container1,
  .rectangle-frame2 {
    display: flex;
    align-items: center;
  }
  .container1 {
    height: 1.31rem;
    position: relative;
  }
  .rectangle-frame2 {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-base);
    gap: var(--gap-base);
  }
  .iconsetting-21 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    min-height: 1.5rem;
  }
  .settings2 {
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: var(--white);
    text-align: left;
  }
  .rectangle-frame3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) var(--padding-base);
    background-color: var(--color-coral);
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .rectangle-frame3:hover {
    background-color: var(--color-chocolate);
  }
  .rectangle-frame4,
  .rectangle-frame5 {
    align-self: stretch;
    height: 2.5rem;
  }
  .rectangle-frame5 {
    height: 2.31rem;
  }
  .container-settings-frame {
    gap: var(--gap-base);
  }
  .container-settings-frame,
  .frame-vuesaxboldelement-iconly,
  .menu-sidebar2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-vuesaxboldelement-iconly {
    flex: 1;
    z-index: 1;
  }
  .avatar-frame {
    height: 2rem;
    width: 0.44rem;
    position: absolute;
    margin: 0 !important;
    top: 1.06rem;
    left: 0;
    border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
    background-color: var(--white);
    z-index: 1;
  }
  .dashboard-frame-iconcalendar {
    align-self: stretch;
    height: 55.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 0 var(--padding-21xl);
    box-sizing: border-box;
    position: relative;
    color: var(--bodytext-50);
  }
  .sidebar1 {
    height: 56.25rem;
    width: 15.63rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-48xl) var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-5xl);
  }
  .gracetrans-text-frame-child {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-ghostwhite);
    border: 1px solid var(--stroke);
    box-sizing: border-box;
    display: none;
    z-index: 0;
  }
  .iconsearch-normal1,
  .logodesign-text {
    position: absolute;
    margin: 0 !important;
    z-index: 1;
  }
  .logodesign-text {
    width: 2.5rem;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    background-color: transparent;
    height: 1.13rem;
    top: 0.69rem;
    left: 3.19rem;
    color: var(--bodytext-50);
    text-align: left;
    display: flex;
    align-items: center;
  }
  .iconsearch-normal1 {
    height: 45%;
    width: 6.06%;
    top: 27.5%;
    right: 89.87%;
    bottom: 27.5%;
    left: 4.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .gracetrans-text-frame {
    height: 2.5rem;
    width: 18.56rem;
    border-radius: var(--br-xl);
    background-color: var(--color-ghostwhite);
    border: 1px solid var(--stroke);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-xs);
    position: relative;
    gap: var(--gap-2xl);
  }
  .group-input1,
  .settings-text-frame-child {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    min-height: 2.5rem;
  }
  .group-input1 {
    margin: 0;
  }
  .settings-text-frame-child {
    object-fit: contain;
  }
  .settings-text-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .gracetrans2 {
    height: 1.31rem;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .grace-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }
  .gracetrans3 {
    position: relative;
    font-size: var(--font-size-2xs);
    color: var(--bodytext-50);
  }
  .sub-menu-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-9xs);
  }
  .avatar-icon1 {
    height: 2.75rem;
    width: 2.75rem;
    position: relative;
    border-radius: var(--br-31xl);
    object-fit: cover;
  }
  .iconarrow-square-down1 {
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
  }
  .iconsetting-frame,
  .inner-frame {
    flex-direction: row;
    justify-content: flex-start;
  }
  .inner-frame {
    display: flex;
    align-items: center;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-mini);
  }
  .iconsetting-frame {
    gap: var(--gap-13xl);
  }
  .header1,
  .iconsetting-frame,
  .settings3 {
    display: flex;
    align-items: center;
  }
  .header1 {
    align-self: stretch;
    background-color: var(--white);
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-base) var(--padding-29xl) var(--padding-base)
      var(--padding-25xl);
    gap: var(--gap-xl);
    top: 0;
    z-index: 99;
    position: sticky;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--text-100);
    font-family: var(--font-poppins);
  }
  .settings3 {
    margin: 0;
    height: 2.25rem;
    font-size: inherit;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-family: inherit;
  }
  .date1,
  .icon1,
  .settings3 {
    position: relative;
  }
  .icon1 {
    height: 1.31rem;
    width: 1.31rem;
  }
  .date1 {
    font-weight: 500;
  }
  .iconarrow-down1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    min-height: 1.5rem;
  }
  .calendar2 {
    border-radius: var(--br-5xs);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
      var(--padding-5xs);
    gap: var(--gap-5xs);
  }
  .setting-icon1 {
    height: 1.31rem;
    width: 1.31rem;
    position: relative;
  }
  .cal-frame,
  .calendar3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .calendar3 {
    border-radius: var(--br-5xs);
    background-color: var(--white);
    padding: var(--padding-9xs);
  }
  .cal-frame {
    gap: var(--gap-9xs);
    text-align: right;
    font-size: var(--font-size-xs);
  }
  .rectangle-shape-icon {
    height: 0.69rem;
    width: 0.44rem;
    position: absolute;
    margin: 0 !important;
    top: 0.78rem;
    left: 8.13rem;
    object-fit: contain;
  }
  .change-password {
    position: absolute;
    margin: 0 !important;
    top: 0.38rem;
    left: 8.88rem;
    font-size: var(--font-size-base);
    letter-spacing: 0.02em;
  }
  .vector-shape {
    width: 71.13rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .chevron-down1,
  .input1 {
    position: absolute;
    right: 0;
    width: 100%;
  }
  .input1 {
    top: 1.81rem;
    left: 0;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-darkslategray-200);
    box-sizing: border-box;
    height: 3.13rem;
  }
  .chevron-down1 {
    top: 0;
    font-size: var(--font-size-lg);
    line-height: 0.63rem;
    font-family: var(--font-font-awesome-6-pro);
    color: var(--bodytext-50);
    text-align: left;
    display: inline-block;
    height: 100%;
  }
  .chevron-down {
    position: absolute;
    top: 3.31rem;
    right: 1rem;
    width: 1rem;
    height: 0.63rem;
  }
  .placeholder,
  .title {
    position: absolute;
    top: 2.81rem;
    left: 1rem;
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
    font-family: var(--font-manrope);
    color: var(--bodytext-50);
    text-align: left;
  }
  .title {
    top: 0.25rem;
    left: 0.5rem;
    line-height: 1.13rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  .frame-child3,
  .input {
    position: relative;
    display: none;
  }
  .input {
    align-self: stretch;
    height: 5.13rem;
  }
  .frame-child3 {
    width: 30.38rem;
    height: 37.38rem;
    border-radius: var(--br-5xl);
    background-color: var(--white);
    max-width: 100%;
  }
  .frame-with-input-child {
    width: 2.15rem;
    height: 1.94rem;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 8.04rem;
    z-index: 3;
  }
  .title1 {
    margin: 0;
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 2.5rem;
    text-transform: capitalize;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-darkslategray-100);
    text-align: left;
    z-index: 3;
  }
  .title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-8xs);
  }
  .label {
    align-self: stretch;
    height: 2.63rem;
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: -0.02em;
    font-family: var(--font-poppins);
    color: var(--bodytext-50);
    white-space: pre-wrap;
    text-align: center;
    display: inline-block;
    z-index: 3;
  }
  .frame-with-input {
    width: 18.31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.94rem 0 0;
    box-sizing: border-box;
    position: relative;
  }
  .title2 {
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 1.13rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--bodytext-50);
    white-space: pre-wrap;
    text-align: left;
  }
  .title-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs);
  }
  .placeholder1 {
    position: absolute;
    margin: 0 !important;
    bottom: 1.13rem;
    left: 1rem;
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
    font-family: var(--font-poppins);
    color: var(--bodytext-50);
    white-space: pre-wrap;
    text-align: left;
    z-index: 1;
  }
  .input3 {
    border: 1px solid var(--color-darkslategray-200);
    outline: 0;
    background-color: transparent;
    align-self: stretch;
    height: 3.13rem;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    min-width: 14.69rem;
  }
  .input2,
  .input3,
  .title3 {
    position: relative;
  }
  .input2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 var(--padding-10xs);
    gap: var(--gap-6xs);
  }
  .title3 {
    font-size: var(--font-size-sm);
    line-height: 1.13rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--bodytext-50);
    white-space: pre-wrap;
    text-align: left;
  }
  .title-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs);
  }
  .placeholder2 {
    position: absolute;
    margin: 0 !important;
    bottom: 1.13rem;
    left: 1rem;
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
    font-family: var(--font-poppins);
    color: var(--bodytext-50);
    white-space: pre-wrap;
    text-align: left;
    z-index: 1;
  }
  .input4,
  .input5 {
    align-self: stretch;
    position: relative;
  }
  .input5 {
    border: 1px solid var(--color-darkslategray-200);
    outline: 0;
    background-color: transparent;
    height: 3.13rem;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    min-width: 14.69rem;
  }
  .input4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 var(--padding-10xs);
    gap: var(--gap-6xs);
  }
  .input7 {
    border: 1px solid var(--color-darkslategray-200);
    outline: 0;
    background-color: transparent;
    width: 100%;
    height: 3.13rem;
    position: absolute;
    margin: 0 !important;
    right: 0;
    bottom: 0.19rem;
    left: 0;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
  }
  .placeholder3,
  .title4 {
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: var(--bodytext-50);
    text-align: left;
  }
  .title4 {
    line-height: 1.13rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  .placeholder3 {
    line-height: 1.25rem;
    z-index: 1;
  }
  .input-group,
  .input6,
  .placeholder-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .placeholder-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-5xs);
  }
  .input-group,
  .input6 {
    align-self: stretch;
    flex-direction: column;
  }
  .input6 {
    padding: var(--padding-9xs) var(--padding-5xs) var(--padding-lg);
    position: relative;
    gap: var(--gap-3xl);
  }
  .input-group {
    gap: var(--gap-5xl);
    z-index: 1;
  }
  .chevron-down3,
  .input9 {
    position: absolute;
    right: 0;
    width: 100%;
  }
  .input9 {
    top: 1.81rem;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-coral);
    height: 3.13rem;
  }
  .chevron-down3 {
    top: 0;
    font-size: var(--font-size-lg);
    line-height: 0.63rem;
    font-family: var(--font-font-awesome-6-pro);
    color: var(--bodytext-50);
    text-align: left;
    display: inline-block;
    height: 100%;
  }
  .chevron-down2 {
    position: absolute;
    top: 3.31rem;
    right: 1rem;
    width: 1rem;
    height: 0.63rem;
    display: none;
  }
  .placeholder4,
  .title5 {
    position: absolute;
    font-size: var(--font-size-sm);
    font-family: var(--font-manrope);
    text-align: left;
  }
  .placeholder4 {
    top: 2.81rem;
    left: 1rem;
    line-height: 1.25rem;
    text-transform: capitalize;
    color: var(--bodytext-50);
    z-index: 1;
  }
  .title5 {
    top: 0.25rem;
    left: 0.5rem;
    line-height: 1.13rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-gray-100);
    display: none;
  }
  .input8 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--white);
    align-self: stretch;
    height: 5.13rem;
    position: relative;
    z-index: 3;
  }
  .change-password1 {
    position: absolute;
    margin: 0 !important;
    right: 7.56rem;
    bottom: 1.9rem;
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
    text-transform: capitalize;
    display: inline-block;
    font-family: var(--font-poppins);
    color: var(--white);
    text-align: left;
    z-index: 4;
  }
  .input-container {
    align-self: stretch;
    height: 6.38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .forgot-password {
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
    text-transform: capitalize;
    font-family: var(--font-poppins);
    color: var(--bodytext-50);
    text-align: left;
    z-index: 3;
  }
  .frame-group-title-input,
  .input-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-xs);
  }
  .input-parent {
    margin-top: 4rem;
    margin-left: 20rem;
    /* margin: 0; */
    justify-content: center;
    width: 30.38rem;
    border-radius: var(--br-5xl);
    background-color: var(--white);
    flex-direction: column;
    align-items: center;
    padding: var(--padding-9xl) var(--padding-29xl) var(--padding-11xl)
      var(--padding-28xl);
    box-sizing: border-box;
    gap: 0.19rem;
    max-width: 100%;
    z-index: 2;
  }
  .iconsearchnormal-frame,
  .settings1 {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: var(--bodytext-100);
    font-family: var(--font-poppins);
  }
  .iconsearchnormal-frame {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-23xl);
    max-width: calc(100% - 250px);
    font-size: var(--font-size-5xl);
  }
  .settings1 {
    width: 100%;
    position: relative;
    background-color: var(--color-ghostwhite);
    box-shadow: 0 4px 74px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start;
    letter-spacing: normal;
    font-size: var(--font-size-sm);
  }
  .user-setting-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: var(--gap-xl);
  }
  .settings10 {
    color: #0C063A;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
  }
  .date-text-icon1 {
    height: 0.69rem;
    width: 0.44rem;
    position: absolute;
    margin: 0 !important;
    top: 0.78rem;
    left: 6.88rem;
    object-fit: contain;
  }
  .calendar7,
.setting-instance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.calendar7 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  padding: var(--padding-9xs);
}
.setting-instance {
  padding-right: 2rem;
  gap: var(--gap-9xs);
  text-align: right;
  font-size: var(--font-size-xs);
}



  @media screen and (max-width: 1200px) {
    .header1 {
      padding-left: var(--padding-3xl);
      padding-right: var(--padding-5xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .sidebar1 {
      display: none;
      padding-top: var(--padding-25xl);
      box-sizing: border-box;
    }
    .iconsearchnormal-frame {
      max-width: 100%;
    }
    .settings1 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .input-parent {
      padding: var(--padding-xl) var(--padding-5xl) var(--padding-xl)
        var(--padding-4xl);
      box-sizing: border-box;
      width: calc(100% - 40px);
    }
    .iconsearchnormal-frame {
      gap: var(--gap-2xl);
    }
  }
  @media screen and (max-width: 450px) {
    .sidebar1 {
      padding-top: var(--padding-10xl);
      box-sizing: border-box;
    }
    .iconsetting-frame {
      gap: var(--gap-base);
    }
    .settings3 {
      font-size: var(--font-size-lgi);
    }
    .vector-shape {
      flex-wrap: wrap;
    }
    .title1 {
      font-size: var(--font-size-base);
      line-height: 2rem;
    }
  }
  